
<div class="center">
  <div class="row">
      <form class="col s7 offset-s2 main-col">
        <div class='card teal darken-1 z-depth-3 display-cards'>
        <div class="row">
          <div class="input-field col s6">
            <%= text_field_tag :title, "", class: "title", :placeholder => "Name it."  %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
              <%= text_field_tag :description, "", class: "body", :placeholder => "Describe it."  %>
          <input type="submit" value="Save" class="btn  button", id="main-button">
            </div>
          </div>
          </div>

        </div>
      </div>
      </form>
    </div>
  </div>
  </div>
</div>


  <div id="ideas" class="center">
    <% @ideas.each do |idea| %>
      <div class="row">
        <div class="col s10 offset-s2 main-col">
          <div class='col s12 m8'>
            <div class='card teal darken-1 z-depth-3 display-cards'>
              <div class='card-content white-text'>
                <div class='hidden'> <%= idea.id %> </div>
                <span class='card-title'> <h4><%= idea.title %></h4></span>
                <p> <%= idea.body %> </p>
              </div>
              <div class='card-action card-foot blue-text text-darken-4'>
               <h6 class="white-text text-lighten-4"> <%= idea.quality %></h6>
               <br><a class="delete" href="#">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
